<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit Task
    </h1>

    <input #listTitleInput class="input has-background-light is-medium" type="text" value="{{title}}" placeholder="Enter task name...">
    <textarea #listDescInput class="input has-background-light is-medium" type="text" placeholder="Enter list description..."></textarea>  
    <p>Type:</p>
      <div class="select">
        <select #listTypeInput class="input has-background-light is-medium">
          <option value="work">Work</option>
          <option value="personal">Personal</option>
          <option value="growth">Growth</option>
        </select>
      </div>
    <p>Due Date:</p>
    <input #listDateInput class="input has-background-light is-medium" value="{{date}}" type="date">
    <div class="col-12 pt-5">
      <p class="mb-4 pb-2">State of Task</p>
    </div>
    <div class="col-12 pb-5">
      <input #listCompleteInput class="checkbox-tools" type="radio" value="completed" name="tools" id="tool-1" checked>
      <label class="for-checkbox-tools" for="tool-1">
        <i class='uil uil-line-alt'></i>
        Completed
      </label>
      <input #listCompleteInput class="checkbox-tools" type="radio" value="incompleted" name="tools" id="tool-2">
      <label class="for-checkbox-tools" for="tool-2">
        <i class='uil uil-vector-square'></i>
        Incompleted
      </label>
    </div>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="save-button button has-text-white is-medium"
        (click)="updateList(listTitleInput.value, listDateInput.value, listCompleteInput.value)">Save</button>
    </div>


  </div>
</div>