  
<!----===== Iconscout CSS ===== -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../../assets/images/logoo.png" alt="">
            </div>

            <span class="logo_name">My Dialy Task</span>
        </div>

        <div class="menu-items">
            <div class="top">
                <img src="../../../assets/images/profile.jpg" alt="">
                <p>{{user}}</p>
            </div>
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Tasks</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Completed Tasks</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Incompleted Tasks</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a (click)="onLogoutButtonClicked()">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top" >
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">All Tasks</span>
                        <span class="number">{{ countT }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Completed Tasks</span>
                        <span class="number">{{ countC }}</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Incompleted Tasks</span>
                        <span class="number">{{ countInc }}</span>
                    </div>
                </div>
            </div>
            <div class="add-task">
                <button class="button has-text-white" routerLink="/new-list" routerLinkActive="is-active">+ New List</button>
            </div>
            <div class="add-task">
                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                      <!-- Any other Bulma elements you want -->
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>
            </div>
            <div class="Tasks-box">
                <div class="box long-box" style="background-color: white;">
                    <p class="progress-text">{{ countC }} task completed out of {{ countT }}</p>
                    <progress class="progress" [value]="Pourcentage" max="100">15%</progress>
                    <!-- <button (click)="getStatisticsIncompleted()">click</button> -->
                    <div class="task" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                        <div class="div-title">
                            <p class="list-title">{{list.title }}</p>
                            <div class="title-tools">
                                <a  (click)="onDeleteTask()"><i class="uil uil-trash"></i></a>
                                <a [routerLink]="['/edit-task', list._id]"><i class="uil uil-edit"></i></a>
                            </div>
                        </div>
                        <div>
                            <p style="overflow-wrap: anywhere;margin: 20px 0;">{{ list.desc }}</p>
                        </div>
                        <div class="state-task">
                            <p><span style="font-weight: bold;">Type:</span> {{ list.type }}</p>
                        </div>
                        <div class="state-task">
                            <p><span style="font-weight: bold;">Due Date:</span> {{list.date }}</p>
                            <span *ngIf="list.state == 'missing'" class="tag is-danger">{{list.state }}</span>
                            <span *ngIf="list.state == 'incompleted'" class="tag is-warning">{{list.state }}</span>
                            <span *ngIf="list.state == 'completed'" class="tag is-success">{{list.state }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>
<router-outlet></router-outlet>
